:root {
  --primary-color: #4eaa90;
  --secondary-color: #d68fd0;
  --background-color: #ededed;
}

body {
  text-align: center;
  font-family: pt monospace;
  color: var(--primary-color);
  background-color: var(--background-color);
}

.introduction,
.contact-info {
  color: var(--secondary-color);
}
